_min_copier_version: "9.0"
_templates_suffix: ""

project_name:
  type: str
  help: "Project name"

aws_region:
  type: str
  help: "AWS region"
  default: "eu-west-1"

github_username:
  type: str
  help: "GitHub username for CODEOWNERS"

_exclude:
  - release-please-config.json
  - .release-please-manifest.json
  - version.txt
  - CHANGELOG.md
  - .git
